html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #202020;
}

#notes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#notes > svg {
    width: 100px;
    height: 100px;
    margin: 0.5px;
}
