* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 20px;
    margin: 0;
}

pre {
    white-space: pre-line;
}

#main {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px #ddd;
    overflow: hidden;
}
